<h1><%= title %></h1>
<p><img width="100"  height ="100" src="/images/andres.jpg" alt="Andres Git"></p>
<p>Andres Perez Alonso</p>
<p>Proyecto basado del original de <a href="https://github.com/jquemada/random">jquemada</p>
<p><a href="/quizes/question">Comience a jugar</a></p>